<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>接收资助列表</title>
    
    <link href="__PUBLIC__/qyadmin/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/admin/js/jquery-3.0.0.min.js"></script>
    <script src="__PUBLIC__/admin/js/common.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.form.min.js"></script>
    <script src="__PUBLIC__/admin/js/home/tigongzizhuliebiao.js"></script>

</head>

<body>
<body id="main">
<div class="main">
    <div class="nav"><em></em>当前位置: <a href="{:U('public/main')}" target="mainFrame">后台首页</a>  >  接收资助列表</div>
    <div class="mk">
         <div class="xtgl">
        <ul class="er">
            <li>社区:
                <select id="ss_community">
                    <option value="-1" selected>全部</option>
                    <option value="2">贫困社区</option>
                    <option value="3">小康社区</option>
                    <option value="4">富人社区</option>
                </select>
            </li>
            <li>匹配状态:
                <select id="ss_match">
                    <option value="-1">全部</option>
                    <option value="1" selected>未匹配</option>
                    <option value="2">已匹配</option>
                </select>
            </li>
            <li>
                <input type="button" value="查询" id="btn_search" onclick="search();">
                <input type="button" value="批量匹配" id="btn_batch_match" onclick="batch_match();">
            </li>
        </ul>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hxtabbor">
  <tr>
            <th width="5%" scope="col"><input type="checkbox" class="checkAll" onclick="clickAll()" /></th>
            <th width="5%" scope="col">ID</th>
            <th width="8%" scope="col">类型</th>
            <th width="8%" scope="col">社区</th>
            <th width="11%" scope="col">会员</th>
            <th width="4%" scope="col">总金额</th>
            <th width="4%" scope="col">剩余匹配金额</th>
            <th width="11%" scope="col">提交时间</th>
            <th width="11%" scope="col">排队时间</th>
            <th width="8%" scope="col">匹配信息</th>
            <th width="8%" scope="col">完成状态</th>
            <th width="11%" scope="col">操作</th>
        </tr>
        <volist name="list" id="vo">
            <tr >
                <TD  align="center" ><input type="checkbox"  class="checkOne" onclick="clickOne()" value="{$vo.accept_id}"/></TD>
                <TD  align="center" >{$vo.accept_id}</TD>
                <TD  align="center" >接收资助</TD>
                <TD  align="center" >{$vo.cname}</TD>
                <TD  align="center" >{$vo.user_name}</TD>
                <TD  align="center" >{$vo.total_num}</TD>
                <TD  align="center" >{$vo.match_remain_num}</TD>
                <TD  align="center" >{$vo.create_time|date="Y-m-d H:i:s",###}</TD>
                <TD  align="center" >{$vo.queue_time|date="Y-m-d H:i:s",###}</TD>
                <TD  align="center" >
                    <eq name='vo.match_status' value='0'>等待匹配</eq>
                    <eq name='vo.match_status' value='1'>部分匹配</eq>
                    <eq name='vo.match_status' value='2'>全部匹配</eq>
                </TD>
                <TD  align="center" >
                    <eq name='vo.confirm_status' value='0'>未完成</eq>
                    <eq name='vo.confirm_status' value='1'>部分完成</eq>
                    <eq name='vo.confirm_status' value='2'>全部完成</eq>
                </TD>
                <TD  align="center" >
                    <eq name='vo.match_status' value='0'>
                        <input type="button" name="btn_to_first" onclick="to_que('{$vo.accept_id}',1);" value="排前">
                        <input type="button" name="btn_to_last" onclick="to_que('{$vo.accept_id}',2);" value="排后">
                        <input type="button" name="btn_to_match" onclick="single_match('{$vo.accept_id}');" value="匹配">
                    </eq>
                    <eq name='vo.match_status' value='1'>
                        <input type="button" name="btn_to_first" onclick="to_que('{$vo.accept_id}',1);" value="排前">
                        <input type="button" name="btn_to_last" onclick="to_que('{$vo.accept_id}',2);" value="排后">
                        <input type="button" name="btn_to_match" onclick="single_match('{$vo.accept_id}');" value="匹配">
                    </eq>
                </TD>
            </tr>
        </volist>
        <empty name="list">
            <tr>
                <td colspan="12">目前没有相关信息</td>
            </tr>
        </empty>
        
</table>
		<notempty name="list">
            <div class="beizhu">{$page}</div>
        </notempty>
<script type="text/javascript">

    $(document).ready(function () {
        //设置进入页面之后的选中值
        var community_id = "{$community_id}";
        var match = "{$match}";
        $('#ss_community').val(community_id)
        $('#ss_match').val(match);
    });

    function search() {
        //获取社区
        var community_id = $('#ss_community').val();

        var match = $('#ss_match').val();

        $url = '/admin/accept/acceptlist/match/' + match + '/community_id/' + community_id;
        location.href = $url;
        //获取匹配状态
    }

    //获取选中的checkbox的值
    function  get_checked_accept(){
        var ret='';
        var accept_id=''
        $('.checkOne:checked').each(function() {
            accept_id = $(this).val();
            if(ret==''){
                ret=accept_id;
            }else{
                ret = ret +',' + accept_id;
            }
        });

        return ret;
    }

    //批量开始匹配,如果用户选了已经完全匹配的记录,则后台处理自动跳过
    function  batch_match(){
        var accept_ids=get_checked_accept();
        if(accept_ids==''){
            alert('请先勾选需要匹配的记录');
            return;
        }

        var path = "{:U('accept/run_match_mult_Do')}";
        var community_id = $('#ss_community').val();
        var match = $('#ss_match').val();
        $.ajax({
            type : "post",
            url : path,
            data : JSON.stringify({accept_ids:accept_ids,community_id:community_id,match:match}),
            async : false,
            success : function(data){
                //return_handle(data);
                if(data.result=='SUCCESS'){
                    alert(data.msg);
                    location.href= data.return_data.url;
                }else{
                    alert(data.msg);
                }

            }
        });

    }

    //排队到最前面,type 为1,表示要排到最前面,为2表示要排到最后面
    function to_que(accept_id,type) {
        var path = "{:U('accept/ajaxaccept_to_que')}";
        var community_id = $('#ss_community').val();
        var match = $('#ss_match').val();
        $.ajax({
            type : "post",
            url : path,
            data : JSON.stringify({accept_id:accept_id,community_id:community_id,match:match,type:type}),
            async : false,
            success : function(data){
                //return_handle(data);
                if(data.result=='SUCCESS'){

                    //路径要拼上现在的查询状态
                    //location.href= data.return_data.url+ '/' + match + '/community_id/' + community_id;;
                    location.href= data.return_data.url;
                }else{
                    alert(data.msg);
                }

            }
        });

    }

    //开始匹配
    function single_match(accept_id) {
        var path = "{:U('accept/run_match_single_Do')}";
        var community_id = $('#ss_community').val();
        var match = $('#ss_match').val();
        $.ajax({
            type : "post",
            url : path,
            data : JSON.stringify({accept_id:accept_id,community_id:community_id,match:match}),
            async : false,
            success : function(data){
                //return_handle(data);
                if(data.result=='SUCCESS'){
                    alert(data.msg);
                    //路径要拼上现在的查询状态
                    //location.href= data.return_data.url+ '/' + match + '/community_id/' + community_id;;
                    location.href= data.return_data.url;
                }else{
                    alert(data.msg);
                }

            }
        });
    }

</script>

</div></div></div>
</BODY></HTML>
