<ul class="nav">
    <li>
        <dl class="caidan">
            <dt><h2><a href="{:U('public/main')}">首页</a></h2><div class="tubiao"><img src="__PUBLIC__/images/3.png" /></div></dt>
        </dl>
    </li>
    <li>
        <dl class="caidan">
            <dt><h2>个人中心</h2><div class="tubiao"><img src="__PUBLIC__/images/3.png" /></div></dt>
            <dd><a href="{:U('user/accountinfo')}">账户信息</a></dd>
            <dd><a href="{:U('user/identityinfo')}">身份验证</a></dd>
            <dd><a href="{:U('user/changepwd')}">修改密码</a></dd>
            <dd><a href="{:U('user/reg')}">会员注册</a></dd>
            <dd><a href="{:U('user/pidlink')}">推荐链接</a></dd>
            <dd><a href="{:U('user/personinfo')}">个人信息</a></dd>
        </dl>
    </li>
    <li>
        <dl class="caidan">
            <dt><h2>布施中心</h2><div class="tubiao"><img src="__PUBLIC__/images/3.png" /></div></dt>
            <dd><a href="{:U('user/level_down_info')}">因缘图</a></dd>
            <dd><a href="{:U('user/level_down_all')}">激活会员</a></dd>
        </dl>
    </li>
    <li>
        <dl class="caidan">
            <dt><h2>财务管理</h2><div class="tubiao"><img src="__PUBLIC__/images/3.png" /></div></dt>
            <dd><a href="{:U('Uc/detail')}">账户明细</a></dd>
            <dd><a href="{:U('Uc/out_detail')}">支出记录</a></dd>
            <dd><a href="{:U('Uc/in_detail')}">收入记录</a></dd>
        </dl>
    </li>
    <li>
        <dl class="caidan">
            <dt><h2>交易中心</h2><div class="tubiao"><img src="__PUBLIC__/images/3.png" /></div></dt>
            <dd><a href="{:U('community/community_list')}">功德社区</a></dd>
            <dd><a href="{:U('offer/sendoffer')}">提供资助</a></dd>
            <dd><a href="{:U('offer/offerlist')}">提供资助列表</a></dd>
            <dd><a href="{:U('accept/sendaccept')}">接受资助</a></dd>
            <dd><a href="{:U('accept/acceptlist')}">接受资助列表</a></dd>
        </dl>
    </li>
    <li>
        <dl class="caidan">
            <dt><h2>系统公告</h2><div class="tubiao"><img src="__PUBLIC__/images/3.png" /></div></dt>
            <dd><a href="{:U('message/mess_sys_list')}">公告通知</a></dd>
            <dd><a href="{:U('message/mess_check_list')}">审核通知</a></dd>
        </dl>
    </li>
    <li>
        <dl class="caidan">
            <dt><h2><a href="{:U('login/logoutDo')}">退出系统</a></h2><div class="tubiao"><img src="__PUBLIC__/images/3.png" /></div></dt>
        </dl>
    </li>
</ul>