<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>公告通知</title>
    <link href="__PUBLIC__/qyadmin/css/Style.css" rel="stylesheet" type="text/css" />

    <script src="__PUBLIC__/admin/js/jquery-3.0.0.min.js"></script>
    <script src="__PUBLIC__/admin/js/common.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.form.min.js"></script>
    <script src="__PUBLIC__/admin/js/home/gonggao.js"></script>
</head>

<body id="main">
<div class="main">
    <div class="nav"><em></em>当前位置: <a href="main.php" target="mainFrame">后台首页</a>  >  公告通知</div>
    <div class="mk">
         <div class="xtgl">

        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="hxtabbor">
  <tr>
            <th width="10%" scope="col">编号</th>
            <th width="10%" scope="col">公告标题</th>
            <th width="10%" scope="col">类型</th>
            <th width="10%" scope="col">时间</th>
            <th width="10%" scope="col">操作</th>
        </tr>
        <volist name="list" id="vo">
            <tr class="san">
                <td align="center">{$vo.message_id}</td>
                <td align="center"><a  href="{:U('message/message_content',array('message_id'=>$vo['message_id']))}">{$vo.title}</a></td>
                <td align="center">系统公告</td>
                <td align="center">{$vo.create_time|date="Y-m-d H:i:s",###}</td>
                <td align="center"><a href="{:U('message/mess_add',array('message_id'=>$vo['message_id']))}">编辑</a>
                    <input type="button" id="btn_del" value="删除" onclick="mess_del('{$vo.message_id}');" />
                </td>
            </tr>
        </volist>
        <empty name="list">
            <tr>
                <td colspan="7">目前没有相关信息</td>
            </tr>
        </empty>
        
</table>
		<notempty name="list">
            <div class="beizhu">{$page}</div>
        </notempty>
<script type="text/javascript">

    function mess_del(mess_id){
        var path = "{:U('message/ajaxmessdel')}";
        $.ajax({
            type : "post",
            url : path,
            data : JSON.stringify({messid:mess_id}),
            async : false,
            success : function(data){
                //return_handle(data);
                if(data.result=='SUCCESS'){
                    location.href= data.return_data.url;
                }else{
                    alert(data.msg);
                }

            }
        });


    }



</script>

</div></div></div>
</body>
</html>
