<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>新增/编辑公告</title>

    <link href="__PUBLIC__/qyadmin/css/Style.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/admin/js/jquery-3.0.0.min.js"></script>
    <script src="__PUBLIC__/admin/js/common.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.form.min.js"></script>
    <script src="__PUBLIC__/admin/js/home/zhanghuxinxi.js"></script>
<script charset="utf-8" src="__PUBLIC__/qyadmin/kindeditor-4.1.10/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/qyadmin/kindeditor-4.1.10/lang/zh_CN.js"></script>
<script charset="utf-8" src="__PUBLIC__/qyadmin/kindeditor-4.1.10/plugins/code/anchor.js"></script>
<script>
		KindEditor.ready(function(K) {
			var editor1 = K.create('textarea[name="content"]', {
				cssPath : 'kindeditor-4.1.10/plugins/code/prettify.css',
				uploadJson : 'kindeditor-4.1.10/php/upload_json.php',
				fileManagerJson : 'kindeditor-4.1.10/php/file_manager_json.php',
				allowFileManager : true,
				afterCreate : function() {
					var self = this;
					K.ctrl(document, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
					K.ctrl(self.edit.doc, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
				}
			});
			prettyPrint();
		});

		function check(obj) {
			if (obj.name.value=='') {
				return false;
			}
			return true;
		}
	</script>

</head>
<BODY id="main">
<div class="main">
<div class="nav"><em></em>当前位置: <a href="{:U('public/main')}" target="mainFrame">后台首页</a>  > 新增/编辑公告</div>
    <div class="mk">
         <div class="xtgl">

        <form method="post" action="{:U('message/addDo')}" name="form" id="form">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hxtable">
            <tr><td width="15%" align="right" valign="top">标题：</td>
                <td><input type="text" name="title" id="title" value="{$show_data['title']}"></td>
            </tr>
            <tr><td width="15%" align="right" valign="top">内容</td>
                <td>
					<textarea name="content" class="hxtextarea" style="width:80%; height:100px;">{$show_data['content']}</textarea>
                </td>
            </tr>
           <tr>
                <td></td>
               <td>
                <input  type="hidden" id="message_id" name="message_id" value="{$show_data['message_id']}"/>
                <input  id="btn_sub"  type="button" class="hxbtn" value="提交保存" onclick="sub(1)" />
            </td>
            </tr>
    </table>
        </form>

<script type="text/javascript">

    //初始化界面
    var ue = UE.getEditor('editor');

    function getAllHtml() {
        //alert(UE.getEditor('editor').getAllHtml())
        $('#content').val(UE.getEditor('editor').getAllHtml());
        alert($('#content').val())

    }
    function getContent() {
        //arr.push(UE.getEditor('editor').getContent());

        $('#content').val(UE.getEditor('editor').getPlainTxt());
        //alert($('#content').val())
    }
    function setContent(content) {

        ue.addListener("ready", function () {
            // editor准备好之后才可以使用
            ue.setContent(content);
        });
    }


    function validate_handle(){
        //todo


        //假如上面都ok了,那么将文本内容复制给隐藏域进行提交
        getContent();
        return true;
    }

    $(document).ready(function(){
        //不为空,表示是编辑
        var message_id="{$show_data['message_id']}";
        if(message_id!=''){
            setContent("{$show_data['content']}");
        }

    });

</script>
</div>
</div>
</div>
</body>
</html>
