<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>匹配列表</title>

    <link href="__PUBLIC__/qyadmin/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/admin/js/jquery-3.0.0.min.js"></script>
    <script src="__PUBLIC__/admin/js/common.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.form.min.js"></script>
    <script src="__PUBLIC__/admin/js/home/tigongzizhuliebiao.js"></script>

</head>
<body id="main">
<div class="main">
    <div class="nav"><em></em>当前位置: <a href="{:U('public/main')}" target="mainFrame">后台首页</a>  >  匹配列表</div>
    <div class="mk">
         <div class="xtgl">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hxtabbor">
  <tr>
            <th width="11%" scope="col">匹配ID</th>
            <th width="11%" scope="col">提供资助人</th>
            <th width="11%" scope="col">接收资助人</th>
            <th width="11%" scope="col">匹配金额</th>
            <th width="11%" scope="col">匹配时间</th>
            <th width="11%" scope="col">付款信息</th>
            <th width="11%" scope="col">完成状态</th>
        </tr>
        <volist name="list" id="vo">
            <tr>
                <TD  align="center" >{$vo.match_id}</TD>
                <TD  align="center" >{$vo.offer_name}</TD>
                <TD  align="center" >{$vo.accept_name}</TD>
                <TD  align="center" >{$vo.match_num}</TD>
                <TD  align="center" >{$vo.match_time|date="Y-m-d H:i:s",###}</TD>
               <TD  align="center" >
                    <eq name='vo.pay_status' value='0'>未付款&nbsp;</eq>
                    <eq name='vo.pay_status' value='1'>已付款 &nbsp;</eq>
                </TD>
                <TD  align="center" ><eq name='vo.confirm_status' value='0'>未完成</eq><eq name='vo.confirm_status' value='1'>已完成</eq></TD>
            </tr>
        </volist>
        <empty name="list">
            <tr>
                <td colspan="12">目前没有相关信息</td>
            </tr>
        </empty>
        
</table>
		<notempty name="list">
            <div class="beizhu">{$page}</div>
        </notempty>
</div></div></div>
</BODY></HTML>
