<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/qyadmin/css/Style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/qyadmin/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/qyadmin/js/menu.js"></script>
</head>
<body id="left">
<div class="left">
       <div id="firstpane" class="menu_list">
      <h3 class="menu_head current">首页</h3>
      <div style="display:block" class="menu_body"> 
	      <a href="{:U('public/main')}" target="mainFrame">首页管理</a>
      </div>
      <h3 class="menu_head">会员管理</h3>
      <div style="display:none" class="menu_body"> 
      	  <a href="{:U('user/userlist')}" target="mainFrame">· 会员列表</a>
      </div>
      <h3 class="menu_head">交易中心</h3>
      <div style="display:none" class="menu_body"> 
      	  <a href="{:U('offer/offerlist')}" target="mainFrame">·提供资助</a>
      	  <a href="{:U('accept/acceptlist')}" target="mainFrame">·接收资助</a>
		  <a href="{:U('match/matchlist')}" target="mainFrame">·匹配列表</a>
      </div>
      <h3 class="menu_head">财务管理</h3>
     <div style="display:none" class="menu_body">
	      <a href="{:U('currency/recharge')}" target="mainFrame">· 管理员充值</a> 
	      <a href="{:U('currency/rechargelist')}" target="mainFrame">· 充值记录</a>
		  <a href="{:U('Uc/out_detail')}" target="mainFrame">· 支出记录</a>
		  <a href="{:U('Uc/in_detail')}" target="mainFrame">· 收入记录</a>
      </div>
      
      <h3 class="menu_head">系统公告</h3>
      <div style="display:none" class="menu_body"> 
      	  <a href="{:U('message/mess_add')}" target="mainFrame">·新增公告</a> 
      	  <a href="{:U('message/mess_list')}" target="mainFrame">·公告列表</a> 
      </div>
      <h3 class="menu_head">退出系统</h3>
      <div style="display:none" class="menu_body"> 
      	  <a href="{:U('login/logoutDo')}" onclick="logout()" >·退出系统</a>
      </div>
    </div>
</div>
<script type="text/javascript">
    function logout() {
        top.location.href = '/admin/login/login';
    }
</script>
</body>
</html>
