<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/qyadmin/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top">
   <img src="__PUBLIC__/qyadmin/images/top_logo.jpg" width="389" height="52" />
   <!--<div class="top_fr">
       <span>欢迎您！<?php echo $_COOKIE['adminname'];?></span>
       <a href="admin.php?action=2" target="mainFrame">修改密码</a>
       <a onclick="if (confirm('确定要退出吗？')) return true; else return false;" href="?exit=ok" target=_top>退出登录</a>
       <a href="../index.php" target="view_windows">网站首页</a>
   </div>-->
</div>
</body>
</html>
