.pagination div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;margin: 0;font-size:12px;font-family:微软雅黑,宋体, 新宋体, Arial,"Times New Roman",  Fixedsys;}

.pagination ol,ul {list-style: none;}

.pagination {width:100%; overflow:hidden;}
.pagination li {float:left; line-height:22px; padding-right:10px;}
.pagination a.l-btn {float:left;opacity:1!important;padding: 0;}
.pagination a.l-btn span { float:left;}

.pagination a.l-btn span span span.l-btn-empty {width:55px!important;height:22px; line-height:22px; display:block;border:solid 1px #c8ccce;}
.pagination .combobox { border:solid 1px #c8ccce;width:60px;height:22px; overflow:hidden; background:url(../img/res/selectBtn.gif) no-repeat right center; display:inline-block; position:relative;}
.pagination .combobox select { border:0!important;width:80px; background:transparent;height: 20px !important;margin: 0; padding: 0;width: 78px; text-indent:5px; position:relative; z-index:1;opacity:0;}
.pagination .combobox span {  position:absolute;left:0;top:0; z-index:2; overflow:hidden;line-height:22px; text-indent:4px; background:#fff;}

.pagination a.l-btn span span.l-btn-text {display:block;font-size: 12px;height: 24px;line-height: 24px;margin: 0;padding: 0;position: relative;top:0px;vertical-align: top;}
.pagination .pagination-prev {background:url(../images/prevBtn.png) no-repeat 4px center;text-indent: 14px;}
.pagination .pagination-next {background:url(../images/nextBtn.png) no-repeat 44px center; text-indent:4px;}
.pagination .pagination-num {border:solid 1px #c8ccce!important;padding: 3px 0 !important;text-align: center;background:#f0f0f0!important;}
.pagination a.l-btn-plain span.l-btn-left { padding-left:0;}
.pagination td{padding:0 10px 0 0;}

