<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<link href="__PUBLIC__/qyadmin/css/Style.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/admin/js/jquery-3.0.0.min.js"></script>
    <script src="__PUBLIC__/admin/js/common.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.form.min.js"></script>
    <script src="__PUBLIC__/admin/js/home/zhanghuxinxi.js"></script>
<script charset="utf-8" src="kindeditor-4.1.10/kindeditor.js"></script>
<script charset="utf-8" src="kindeditor-4.1.10/lang/zh_CN.js"></script>
<script charset="utf-8" src="kindeditor-4.1.10/plugins/code/anchor.js"></script>
<script>
		KindEditor.ready(function(K) {
			var editor1 = K.create('textarea[name="nr"]', {
				cssPath : 'kindeditor-4.1.10/plugins/code/prettify.css',
				uploadJson : 'kindeditor-4.1.10/php/upload_json.php',
				fileManagerJson : 'kindeditor-4.1.10/php/file_manager_json.php',
				allowFileManager : true,
				afterCreate : function() {
					var self = this;
					K.ctrl(document, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
					K.ctrl(self.edit.doc, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
				}
			});
			prettyPrint();
		});

		function check(obj) {
			if (obj.name.value=='') {
				return false;
			}
			return true;
		}
	</script>
</HEAD>
<BODY id="main">
<div class="main">
<div class="nav"><em></em>当前位置: <a href="{:U('public/main')}" target="mainFrame">后台首页</a>  >  会员信息</div>
    <div class="mk">
         <div class="xtgl">

<form method="post" action="{:U('user/userinfoDo')}" name="form" id="form">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hxtable">
            <tr><td width="15%" align="right" valign="top">登录用户名：</td>
                <td>{$show_data['name']}</td>
            </tr>
            <tr><td width="15%" align="right" valign="top">所属组：</td>
                <td>{$show_data['group']}</li>
            </tr>
            <tr><td width="15%" align="right" valign="top">姓名：</td>
                <td>{$show_data['family_name']}</li>
            </tr>
            <tr><td width="15%" align="right" valign="top">激活状态：</td>
                <td>{$show_data['act_status']}</li>
            </tr>
            <tr><td width="15%" align="right" valign="top">审核状态：</td>
                <td>{$show_data['confirm_status']}</td>
            </tr>
            <tr>
                <td width="15%" align="right" valign="top">推荐人信息：</td>
                    <td><div class="use">{$show_data['p_name']}</div>
                    <div class="use">{$show_data['p_family_name']}</div>
                    <div class="use">{$show_data['p_mobile']}</div>
					</td>
            </tr>
            <tr><td width="15%" align="right" valign="top">注册时间：</td>
                <td>{$show_data['create_time']}</td>
            </tr>
            <tr><td width="15%" align="right" valign="top">上次登录ip：</td>
                <td>{$show_data['last_ip']}</td>
            </tr>

            <tr><td width="15%" align="right" valign="top">手机号码：</td>
                <td><input type="text" name="mobile" id="mobile" value="{$show_data['mobile']}"></td>
            </tr>
            <tr><td width="15%" align="right" valign="top">收货地址：</td>
                <td><input type="text" name="address" id="address" value="{$show_data['address']}"></td>
            </tr>
            <tr><td width="15%" align="right" valign="top">电子邮箱：</td>
                <td><input type="text" name="email" id="email" value="{$show_data['email']}"></td>
            </tr>
            <tr><td width="15%" align="right" valign="top">居住城市：</td>
                <td><input type="text" name="city" id="city" value="{$show_data['city']}"></td>
            </tr>
            <tr><td width="15%" align="right" valign="top">支付宝账号：</td>
                <td><input type="text" name="alipay_no" id="alipay_no" value="{$show_data['alipay_no']}"></li>
            </tr>
            <tr><td width="15%" align="right" valign="top">微信账号：</td>
                <td><input type="text" name="weixin_no" id="weixin_no" value="{$show_data['weixin_no']}"></li>
            </tr>
            <tr><td width="15%" align="right" valign="top">开户银行：</td>
                <td><input type="text" name="bank" id="bank" value="{$show_data['bank']}"></td>
            </tr>
            <tr><td width="15%" align="right" valign="top">银行帐号：</td>
                <td><input type="text" name="bank_no" id="bank_no" value="{$show_data['bank_no']}"></td>
            </tr>
            <tr><td width="15%" align="right" valign="top">身份证姓名：</td>
                <td><input type="text" name="family_name" id="family_name" value="{$show_data['family_name']}"></td>
            </tr>
            <tr><td width="15%" align="right" valign="top">身份证号码：</td>
                <td><input type="text" name="card_no" id="card_no" value="{$show_data['card_no']}"></td>
            </tr>
            <tr><td width="15%" align="right" valign="top">身份证正面：</td>
                <td><img id="cardp" name="cardp"  src="{$show_data['card_p_url']}" style="width:200px;height: 100px;"/></td>
            </tr>
            <tr><td width="15%" align="right" valign="top">身份证反面：</td>
                <td><img id="cardo" name="cardo"  src="{$show_data['card_o_url']}" style="width:200px;height: 100px;"/></td>
            </tr>
            <tr><td width="15%" align="right" valign="top">手持身份证：</td>
                <td><img id="cardh" name="cardh"  src="{$show_data['card_h_url']}" style="width:200px;height: 100px;"/></td>
            </tr>

            <tr>
                <td></td>
               <td>
			   <input type="hidden" name="handle_type" value="{$show_data['handle_type']}"/>
                <input type="hidden" name="user_id" value="{$show_data['user_id']}"/>
			   <input  id="btn_sub_update" class="hxbtn" style="display: none" type="button" value="修改保存" onclick="sub(1)" />
                <input  id="btn_sub_confirm"  class="hxbtn" style="display: none"  type="button" value="审核通过" onclick="sub(1)" />
				</td>
            </tr>
			</table>
        </form>
		
</div>
</div>
</div>
<script type="text/javascript">
    function validate_handle(){
        //todo
        //不同社区的钱不一样的
        return true;

    }

    $(document).ready(function(){
        //状态为2，不让修改
        var ht="{$show_data['handle_type']}";

        //查看
        if(ht==0){
            $(':text').attr('readonly','readonly');
        }
        //修改
        if(ht==1){
            $('#btn_sub_update').css('display','block');
        }
        //审核
        if(ht==2){
            $(':text').attr('readonly','readonly');
            $('#btn_sub_confirm').css('display','block');
        }

    });

</script>
</BODY></HTML>