<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>收入记录</title>
    <link href="__PUBLIC__/qyadmin/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="__PUBLIC__/admin/js/jquery-3.0.0.min.js"></script>
    <script src="__PUBLIC__/admin/js/common.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.form.min.js"></script>
    <script src="__PUBLIC__/admin/js/home/tigongzizhuliebiao.js"></script>
</head>

<body id="main">
<div class="main">
    <div class="nav"><em></em>当前位置: <a href="{:U('public/main')}" target="mainFrame">后台首页</a>  >  收入明细</div>
    <div class="mk">
         <div class="xtgl">

        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="hxtabbor">
  <tr>
            <th width="11%" scope="col">操作备注</th>
            <th width="11%" scope="col">会员帐号</th>
            <th width="11%" scope="col">币种类型</th>
            <th width="11%" scope="col">收入</th>
            <th width="11%" scope="col">来源账户</th>
            <th width="11%" scope="col">备注</th>
            <th width="11%" scope="col">时间</th>
        </tr>
        <volist name="list" id="vo">
            <tr>
                <TD  align="center" >{$vo.handle_type}</TD>
                <TD  align="center" >{$vo.user_name}</TD>
                <TD  align="center" >{$vo.name}</TD>
                <TD  align="center" >{$vo.detail_num}</TD>
                <TD  align="center" >{$vo.rel_user}</TD>
                <TD  align="center" >{$vo.remark}</TD>
                <TD  align="center" >{$vo.create_time|date="Y-m-d H:i:s",###}</TD>
            </tr>
        </volist>
        <empty name="list">
            <tr>
                <td colspan="7">目前没有相关信息</td>
            </tr>
        </empty>
        
</table>
		<notempty name="list">
            <div class="beizhu">{$page}</div>
        </notempty>
</div></div></div>
</BODY></HTML>
