<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>管理员充值</title>
    <link href="__PUBLIC__/qyadmin/css/Style.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/admin/js/jquery-3.0.0.min.js"></script>
    <script src="__PUBLIC__/admin/js/common.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.form.min.js"></script>
    <script src="__PUBLIC__/admin/js/home/zizhu.js"></script>
</head>
<BODY id="main">
<div class="main">
<div class="nav"><em></em>当前位置: <a href="{:U('public/main')}" target="mainFrame">后台首页</a>  >  管理员充值</div>
    <div class="mk">
         <div class="xtgl">
<form method="post" action="{:U('currency/rechargeDo')}" name="form" id="form">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="hxtable">
            
                <tr><td width="15%" align="right" valign="top">会员帐号：</td>
                    <td><input type="text" name="name" id="name"  /></td>
                </tr>
                <tr><td width="15%" align="right" valign="top">充值币种：</td>
                    <td><input type="hidden" name="currency_id" id="currency_id"  />
                    <select id="ss_currency">
                        <option value="1" selected> 善种子</option>
                        <option value="2" >善心币</option>
                        <option value="3" >善金币</option>
                        <option value="5" >出局钱包</option>
                    </select></td>
                </tr>

                <tr><td width="15%" align="right" valign="top">充值数量：</td>
                   <td><input type="text" class="inp1" id="num" name="num" /><span class="xin">*</span></td>
                </tr>

				<tr>
                <td></td>
               <td>
                <!--社区id-->
                <input type="hidden" name="user_id" id="user_id"  />
                <input   id="btn_sub"  type="button"  onclick="sub(1)"  class="tijiao hxbtn" value="提交充值" />
				</td>
            </tr>
            </table>
        </form>
<script type="text/javascript">
    function validate_handle(){
        //todo


        if($('#user_id').val()==''){
            alert('请输入会员名');
            return  false;
        }
        //检测没问题之后
        //将下拉选中值,赋给隐藏域
        $('#currency_id').val($('#ss_currency').val());
        //alert( $('#currency_id').val());
        return true;

    }


    //检查会员是否正确存在
    $('#name').bind('blur', function(){
        var name =$(this).val();
        var path = "{:U('login/ajaxCheckname')}";
        $.ajax({
            type : "post",
            url : path,
            data : JSON.stringify({name:name}),
            async : false,
            success : function(data){
                //return_handle(data);
                if(data.result=='SUCCESS'){
                    //location.href= data.return_data.url;
                    $('#user_id').val(data.return_data.user_id);

                }else{
                    alert(data.msg);
                    $('#user_id').val('');
                    //$('#p_name').focus();
                }

            }
        });

    });

</script>
</div>
</div>
</div>
</BODY></HTML>
